body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0;
    background-image: url('pozadi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.intro, .leaderboard {
    text-align: center;
    margin: 20px;
}

#nickname {
    margin: 10px;
    padding: 5px;
    font-size: 1em;
}

#submitNickname {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #587792;
    color: white;
    border: none;
    border-radius: 5px;
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th, .leaderboard td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}

.leaderboard th {
    background-color: #ffffff;
}

.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.square {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.square:active,
.active {
    filter: brightness(125%);
}

.red {
    background-color: #EE6352;
}

.blue {
    background-color: #08B2E3;
}

.green {
    background-color: #57A773;
}

.yellow {
    background-color: #FFDF64;
}

#startButton, #playAgainButton {
    width: 75px;
    border: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #587792;
    padding: 5px;
}

#startButton:disabled {
    background-color: #587792;
}

.title {
    width: min-content;
}

.winner {
    animation: spin 1s ease-in-out;
}

@keyframes spin { 
    100% { transform:rotate(180deg) } 
}

footer {
    margin-top: auto; 
    text-align: center; 
    padding: 20px 0; 
}